@{
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta ="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<div>
    @ViewBag.newMessages
</div>
</body>
</html>


